#rectangleBlue {
    height: 70px;
    width: 100;
    background-color: blue;
}
#rectanglePurple {
    height: 70px;
    width: 100;
    background-color: purple;
}
#rectanglePink {
    height: 160px;
    width: 100;
    background-color: pink;
}
.blue {
    background-color: blue;
}
.purple {
    background-color: purple;
}
.pink {
    background-color: pink;
}
